/// generate-boxes
@mixin generate-boxes($boxes) {
  // Loop over each breakpoint
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      @each $key, $value in $boxes {
        .box#{$infix}-#{$key} {
          display: block;
          position: relative;

          &:before {
            content: "";
            display: block;
            padding-top: $value;
          }

          > .box-content {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
          }
        }
      }
    }
  }
}
