@mixin generate-column($values, $classname) {
  // Loop over each breakpoint
  @each $breakpoint in map-keys($grid-breakpoints) {
    // Generate media query if needed
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      // row's container
      .container#{$infix} {
        padding-left: $gutter / 2;
        padding-right: $gutter / 2;
      }

      // row columns container
      .row#{$infix} {
        margin-left: -$gutter / 2;
        margin-right: -$gutter / 2;
      }

      // create each column
      @if type-of($values) == "map" {
        // Loop over each values in map
        @each $key, $value in $values {
          .#{$classname}#{$infix}-#{$key} {
            flex: 0 0 calcultate-value($value);
            padding-left: $gutter / 2;
            padding-right: $gutter / 2;
          }
        }
      }
    }
  }
}

@function calcultate-value($value) {
  @if type-of($value) == "string" {
    @return unquote($value);
  }

  @return $value;
}

@function column($key) {
  $value: map-get($columns, $key);

  @if not $value {
    @error "column `#{$key}` not found in `#{$columns}`";
  }

  @return $value;
}
