@function font-size($key) {
  $value: map-get($font-size, $key);

  @if not $value {
    @error "font-size `#{$key}` not found in `#{$font-size}`";
  } @else {
    $unit: "";

    // get value unit if is a number
    @if type-of($value) == "number" {
      $unit: unit($value);
    }

    // if value is in vw, use our custom vw function
    @if $unit == "vw" {
      $value: vw(strip-unit($value));
    }
    // if value is in vh, use our custom vh function
    @else if $unit == "vh" {
      $value: vh(strip-unit($value));
    }
  }

  @return $value;
}

@function font-family($key) {
  $value: map-get($font-family, $key);

  @if not $value {
    @error "font-family `#{$key}` not found in `#{$font-family}`";
  }

  @return $value;
}

@function line-height($key) {
  $value: map-get($line-height, $key);

  @if not $value {
    @error "line-height `#{$key}` not found in `#{$line-height}`";
  }

  @return $value;
}

@function heading($key) {
  $value: map-get($heading, $key);

  @if not $value {
    @error "headings-font-size `#{$key}` not found in `#{$heading}`";
  } @else {
    $unit: "";

    // get value unit if is a number
    @if type-of($value) == "number" {
      $unit: unit($value);
    }

    // if value is in vw, use our custom vw function
    @if $unit == "vw" {
      $value: vw(strip-unit($value));
    }
    // if value is in vh, use our custom vh function
    @else if $unit == "vh" {
      $value: vh(strip-unit($value));
    }
  }

  @return $value;
}
