/*
* Utility classes for flex-direction property.
* Exemple: flex-column, flex-md-column, flex-column-reverse, flex-row, flex-row-reverse
*/
$directions: ("column", "column-reverse", "row", "row-reverse") !default;

/*
* Utility classes for justify-content property.
* Exemple: justify-content-center, justify-content-md-center, etc...
*/
$justify-content: () !default;
$justify-content: map-merge(
  (
    "center": "center",
    "end": "flex-end",
    "start": "flex-start",
    "between": "space-between",
    "around": "around",
    "stretch": "stretch"
  ),
  $justify-content
);

/*
* Utility classes for align-items property.
* Exemple: align-items-end, align-items-md-end, etc...
*/
$align-items: () !default;
$align-items: map-merge(
  (
    "baseline": "baseline",
    "end": "flex-end",
    "start": "flex-start",
    "center": "center",
    "stretch": "stretch"
  ),
  $align-items
);

/*
* Utility classes for align-self property.
* Exemple: align-self-end, align-self-md-end, etc...
*/
$align-self: () !default;
$align-self: map-merge(
  (
    "baseline": "baseline",
    "end": "flex-end",
    "start": "flex-start",
    "center": "center",
    "stretch": "stretch"
  ),
  $align-self
);

/*
* Utility classes for align-content property.
* Exemple: align-content-center, align-content-md-center, etc...
*/
$align-content: () !default;
$align-content: map-merge(
  (
    "between": "between",
    "end": "flex-end",
    "start": "flex-start",
    "center": "center",
    "stretch": "stretch",
    "around": "around"
  ),
  $align-content
);

/*
* Utility classes for flex-wrap property.
* Exemple: flex-wrap, flex-nowrap, flex-wrap-reverse, flex-md-wrap, etc..
*/
$flex-wrap: ("nowrap", "wrap", "wrap-reverse") !default;

/*
* Utility classes for flex-grow property.
* Exemple:flex-grow-1, flex-grow-md-0, flex-grow-5, etc..
*/
$flex-grow: (0, 1, 2, 3, 4, 5) !default;

/*
* Utility classes for flex-shrink property.
* Exemple: flex-shrink-1, flex-shrink-md-0, flex-shrink-5, etc..
*/
$flex-shrink: (0, 1, 2, 3, 4, 5) !default;

/*
* Utility classes for order property.
* Exemple: order-1, order-md-1, order-3, etc...
*/
$order: (0, 1, 2, 3, 4, 5) !default;



@include generate-variants("flex-direction", $directions, "flex");
@include generate-variants("justify-content", $justify-content, "justify-content");
@include generate-variants("align-items", $align-items, "align-items");
@include generate-variants("align-self", $align-self, "align-self");
@include generate-variants("align-content", $align-content, "align-content");
@include generate-variants("flex-wrap", $flex-wrap, "flex");
@include generate-variants("flex-grow", $flex-grow, "flex-grow");
@include generate-variants("flex-shrink", $flex-shrink, "flex-shrink");
@include generate-variants("order", $order, "order");
