@include generate-variants("font-weight", $font-weight, "fw");

@include generate-variants("font-family", $font-family, "ff");

@include generate-variants("font-size", $heading, "heading");

@include generate-variants("text-align", $text-align, "ta");

@include generate-variants("font-style", $font-style, "fs");

@include generate-variants("font-size", $font-size, "fz");

@include generate-variants("line-height", $line-height, "lh");

@include generate-variants("text-transform", $text-transform, "tt");

@include generate-variants("text-decoration", $text-decoration, "td");

