h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
[class*="heading-"]:not([class*="fw-"]) {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
[class*="heading-"]:not([class*="lh-"]) {
  line-height: line-height("base");
}

// responsive typography
/*
@include media-breakpoint-down(md) {
  .fz-6xl {
    font-size: 100px;
  }
  .fz-5xl {
    font-size: 50px;
  }
  h1,
  .fz-4xl {
    font-size: 40px;
  }
  h2,
  .fz-3xl {
    font-size: 30px;
  }
  h3,
  .fz-2xl {
    font-size: 27px;
  }
  h4,
  .fz-xl {
    font-size: 20px;
  }
  h5,
  .fz-lg,
  .fz-base {
    font-size: 18px;
  }
  h6,
  .fz-sm {
    font-size: 16px;
  }
}
*/

.list-none {
  list-style: none;
}

a {
  color: currentColor;
}
